.landing-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  @media screen and (min-width: 480px) {
    .landing-section {
      flex-direction: row;
      text-align: left;
    }
    .fss{
        color: pink;
    }
  }
  
  @media screen and (min-width: 768px) {
    .landing-section {
      max-width: 800px;
      margin: 0 auto;
    }
    .fss{
        color: pink;
    }
  }
  